body {
    background-image: url('../static/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    font-size: 16px;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f8f9fa;
    /* border: 1px solid #ced4da;
    padding: 10px; */
    border-radius: 4px;
    width: 200px;
    font-size: 16px;
    color: #495057;
    cursor: pointer;
}

.custom-select:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}