/* body {
    background-image: url('../static/background.png');
    background-repeat: no-repeat;
    background-size: cover;
} */
body {
    width: 100vw;
    height: 100vh;
  }
  #canvas {
    /* display: block;
    width: 100%;
    height: 100%;
    z-index: -1; */
    position: absolute;  
    left: 0;  
    top: 0;  
    width: 100%;  
    height: 100%;  
    z-index: -1; /* 将 z-index 设置为 -1，使其位于其他元素之下 */
  }
html {
    font-size: 16px;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f8f9fa;
    /* border: 1px solid #ced4da;
    padding: 10px; */
    border-radius: 4px;
    width: 200px;
    font-size: 16px;
    color: #495057;
    cursor: pointer;
}

.custom-select:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}