<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <title>Home</title>
    <script src=" https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="../static/echarts.min.js"> -->
    <link rel="stylesheet" type="text/css" href="../static/index_tmp.css">
    <!-- <link rel="stylesheet" type="text/css" href="../static/index_tmp.css"> -->
</head>
<body>

  <canvas id="canvas"></canvas>
  <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" >
          <img src="../static/logo.png" alt="Logo" style="width: 75px; height: auto;">
        </a>
        <div class="col-md-8 mx-auto" style="color:white;float:left" >
          <form onsubmit="return false;">
              <label style="letter-spacing: 20px; text-indent: 20px;">

                  <select id="repository" onchange="getYears()" class="custom-select">
                      <option value="0">--请选择一个仓库--</option>
                      {% for x in names %}
                        <option value="{{ x }}">{{ x }}</option>
                      {% endfor %}
                  </select>
              </label>
              <label style="letter-spacing: 20px; text-indent: 20px;">

                  <!-- <select id="year" onchange="getMonths()">

                  </select> -->
                  <select id="year" class="custom-select" onchange="getMonths()">
                    <option selected>--请选择年份--</option>

                  </select>
              </label>



              <label style="letter-spacing: 20px; text-indent: 20px;">

                  <!-- <select id="month">

                  </select> -->
                  <select id="month" class="custom-select">
                    <option selected>--请选择月份--</option>

                  </select>
              </label>

              <label style="letter-spacing: 20px; text-indent: 20px;">
                 <button type="button" class="btn btn-primary" onclick="sendPost()">确定</button>
              </label>
          </form>
      </div>
      </div>
    </nav>

      <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 mx-auto">
          <!-- 折线图 -->
          <!-- <h3 style="text-align: center;"> Repo Analysis </h3> -->
          <!-- <div></div> -->
          <div class="panel line" id="line" style="height: 50%">
          


           <div class="panel-footer"></div>
          
          </div>
          <div class="panel pie" id="pie" style="height: 50%">
            <div class="panel-footer"></div>
          </div>

          </div>

        <!-- 主图 -->
        <div class="col-md-6">
          <div id="main" style="width: 1200px;height:900px;text-align: center;">
            <div class="panel-footer"></div>
          </div>
          <!-- <div id="main" style="width: 8.00rem;height:8.00rem;"></div> -->
        </div>
        <div class="col-md-3 mx-auto">
          <div id="details" class="bordered">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Details</h5>
              </div>
            </div>
            <div id="details_div" class="scrollit">
            <table id="details_table" class="table">
              <thead>
                <tr>
                  <th scope="col">From</th>
                  <th scope="col">Ratio</th>
                  <th scope="col">Value</th>
                  <th scope="col">OpenRank</th>
                </tr>
              </thead>
            </table>
            </div>
            <div id="main_1" class="bordered">
              <div id="graph" class="bordered"></div>
              <div id="control" class="bordered">
              <div id="list" class="bordered">

                  <div id="leaderboard_div">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title" style="text-align: center;">Leaderboard</h5>
                    </div>
                  </div>
                  <table id="leaderboard_table" class="table"> </table>
                  </div>
              </div>
              </div>
            </div>

        </div>
        </div>
        
      </div>
    </div>

<script src="../static/draw.js"></script>
<script src="../static/func.js"></script>
<script src='../static/TweenMax.min.js'></script>
<script  src="../static/script.js"></script>

</body>

<script type="text/javascript">


var chartDomLine = document.getElementById('line');
console.log(chartDom);
var myLineChart = echarts.init(chartDomLine);
var optionLine;

optionLine = {
  // title: {
  //   text: 'Repo Analys'
  // },
  tooltip: {
    trigger: 'axis'
  },
  legend: {
    data: ['Issue', 'Pull Requests', 'Users']
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  toolbox: {
    feature: {
      saveAsImage: {}
    }
  },
  xAxis: {
    type: 'category',
    boundaryGap: false,
    data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      name: 'Issue',
      type: 'line',
      stack: 'Total',
      data: [10, 9, 20, 11, 12, 13, 15, 16, 11, 10, 11, 11]
    },
    {
      name: 'Pull Requests',
      type: 'line',
      stack: 'Total',
      data: [40, 42, 45, 30, 48, 52, 60, 45, 46, 34, 38, 37]
    },
    {
      name: 'Users',
      type: 'line',
      stack: 'Total',
      data: [10, 11, 10, 12, 13, 14, 10, 11, 10, 12, 14, 15]
    },

  ]
};

optionLine && myLineChart.setOption(optionLine);


var chartDomPie = document.getElementById('pie');
var myChartPie = echarts.init(chartDomPie);
var optionPie;

optionPie = {
  tooltip: {
    trigger: 'item'
  },
  legend: {
    top: '5%',
    left: 'center'
  },
  series: [
    {
      name: 'Developers',
      type: 'pie',
      radius: ['40%', '70%'],
      avoidLabelOverlap: false,
      itemStyle: {
        borderRadius: 10,
        borderColor: '#fff',
        borderWidth: 2
      },
      label: {
        show: false,
        position: 'center'
      },
      emphasis: {
        label: {
          show: true,
          fontSize: 40,
          fontWeight: 'bold'
        }
      },
      labelLine: {
        show: false
      },
      data: [
        { value: 5, name: 'Core Developers' },
        { value: 12, name: 'Temporary Developers' },
        { value: 10, name: 'Issue Participants'}
      ]
    }
  ]
};

optionPie && myChartPie.setOption(optionPie);



</script>
</html>